.header{
    display: flex;
    align-items: center;
}

.header a{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header .logo{
    max-height: 28px;
}

.header .title-group{
    padding-left: 25px;
    padding-right: 5px;
}

.header .logged-user{
    position: absolute;
    right: 0;
    padding-right: 25px;
}