<h1 mat-dialog-title>Redefinir Senha</h1>
<div mat-dialog-content>
    <p>Insira seu email abaixo, para que seja enviado sua nova senha:</p>
    <mat-form-field fxFlexFill>
        <mat-label>Email</mat-label>
        <input type="email" matInput placeholder="pat@example.br" required>
    </mat-form-field>
</div>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between" fxFill>
    <button mat-raised-button mat-dialog-submit color="primary">Enviar</button>
    <button mat-stroked-button mat-dialog-close>Fechar</button>
</div>