<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list class="nav-list">
            <a mat-list-item>
                <i class="material-icons">home</i>Início
            </a>
            <a mat-list-item>
                <i class="material-icons">perm_identity</i>Perfil
            </a>
            <a mat-list-item>
                <i class="material-icons">receipt_long</i>Notas
            </a>
            <a mat-list-item>
                <i class="material-icons">collections_bookmark</i>Disciplinas
            </a>
            <a mat-list-item>
                <i class="material-icons">groups</i>Turma
            </a>
        </mat-nav-list>
    </mat-sidenav>
</mat-sidenav-container>