<div fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxFlex="25" fxLayout="column">
        <form class="form-login" fxLayout="column" fxLayoutAlign="space-between" fxFill>
            <div fxLayoutAlign="center">
                <img src="assets/imgs/logo-nome.png" alt="Logo" class="img-logo">
            </div>
            <mat-form-field>
                <mat-label>Nome</mat-label>
                <input type="text" matInput placeholder="Nome de Usuário">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Senha</mat-label>
                <input type="password" matInput placeholder="Senha">
            </mat-form-field>
            <div fxLayoutAlign="center">
                <button mat-raised-button color="primary" class="btn-submit">Login</button>
            </div>
            <div fxLayoutAlign="flex-end" fxLayout="row" class="redefinir-senha">
                <a mat-button color="primary" (click)="openDialog()">Redefinir Senha</a>
            </div>
        </form>
    </mat-card>
</div>